a {
                font-family: cursive;
            }
h1 {
                font-family: cursive;
            }
h2 {
                font-family: cursive;
            }
h1 {
                color: cadetblue;
            }
p {
                font-family: serif;
            }